<h2>Trending today</h2>
@if (!trendingDayMoviesResource.isLoading()) {
  <app-horizontal-scroll-list
    [items]="trendingDayMoviesResource.value()"
    image="poster_path"
    header="title"
    route="/movie"
    size="lg"
  ></app-horizontal-scroll-list>
} @else {
  loading...
}

<!-- <h2>Upcoming movies</h2>
@if (!upcomingMoviesResource.isLoading()) {
  <app-horizontal-scroll-list [items]="upcomingMoviesResource.value()"></app-horizontal-scroll-list>
} @else {
  loading...
}

<h2>Now playing movies</h2>
@if (!nowPlayingMoviesResource.isLoading()) {
  <app-horizontal-scroll-list [items]="nowPlayingMoviesResource.value()"></app-horizontal-scroll-list>
} @else {
  loading...
} -->
