.scroll {
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px 0;
  display: flex;
  gap: 16px;

  &__item {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: #fff;
    width: 150px;

    img {
      width: 150px;
      height: auto;
      border-radius: 8px;
      display: block;
      margin-bottom: 5px;

      &.sm {
        width: 120px;
      }

      &.md {
        width: 150px;
      }

      &.lg {
        width: 220px;
      }
    }

    .header,
    .subheader {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .subheader {
      font-size: 0.825rem;
    }
  }
}
