:host {
  margin: 0;
  padding: 16px;
  display: grid;
  grid-template-columns: 92px auto auto 72px;
  gap: 16px;
  align-items: center;
  justify-items: center;

  ::ng-deep {
    .search-clear-btn {
      padding: 5px;

      &:hover {
        background-color: transparent;
      }
    }

    .p-select {
      background-color: transparent;
      border-color: #fff;
    }

    .p-select-label {
      padding-right: 0;
    }
  }
}

.title {
  justify-self: start;
  background-color: var(--p-primary-500);
  border-radius: 8px;
  display: flex;
  gap: 8px;
  font-size: 1.25rem;
  padding: 8px 10px;
  color: var(--p-surface-700);
  font-weight: 800;
}

.links {
  justify-self: start;
  display: flex;
  gap: 16px;
  font-weight: 600;
  a {
    color: #ffffff;
  }
}

.search {
  display: none;
  justify-self: end;
  gap: 4px;
  --p-inputtext-background: transparent;
  --p-inputtext-border-color: #ffffff;
  --p-inputtext-color: #ffffff;
  --p-button-text-secondary-color: #ffffff;
  --p-inputtext-placeholder-color: #ffffff;

  &__field {
    p-button {
      position: absolute;
      right: 4px;
      z-index: 1000;
      top: 3px;
      color: #ffffff;
    }
  }
}

.language {
}

.theme {
  justify-self: end;
}

@media (min-width: 769px) {
  .search {
    display: flex;
  }
  :host {
    padding-left: 64px;
    padding-right: 64px;
  }
}

@media (min-width: 1400px) {
  :host {
    padding-left: 16px;
    width: 1300px;
    margin: auto;
  }
}
