@let trending = trendingWeekMovies.value();
@let nowPlaying = nowPlayingMovies.value();
@let upcoming = upcomingMovies.value();

@if (trendingWeekMovies.isLoading()) {
  <p-skeleton width="100%" height="648px" />
} @else {
  <app-banner [movies]="trending"></app-banner>
}

<div class="content">
  <div class="content__area">
    <h2>{{ 'inTheatres' | translate }}</h2>
    <app-horizontal-scroll-list
      [items]="nowPlaying"
      [loading]="nowPlayingMovies.isLoading()"
      image="poster_path"
      header="title"
    ></app-horizontal-scroll-list>
  </div>

  <div class="content__area">
    <h2>{{ 'comingSoon' | translate }}</h2>
    <app-horizontal-scroll-list
      [items]="upcoming"
      [loading]="upcomingMovies.isLoading()"
      image="poster_path"
      header="title"
    ></app-horizontal-scroll-list>
  </div>
</div>
