@let trending = trendingWeekMovies.value();
@let nowPlaying = nowPlayingMovies.value();
@let upcoming = upcomingMovies.value();

@if (trendingWeekMovies.isLoading()) {
  loading...
} @else {
  <app-banner [movies]="trending"></app-banner>
}

<div class="content">
  <div class="content__area">
    <h2>{{ 'inTheatres' | translate }}</h2>
    @if (nowPlayingMovies.isLoading()) {
      loading...
    } @else {
      <app-horizontal-scroll-list
        [items]="nowPlaying"
        image="poster_path"
        header="title"
        route="/movie"
      ></app-horizontal-scroll-list>
    }
  </div>

  <div class="content__area">
    <h2>{{ 'comingSoon' | translate }}</h2>
    @if (upcomingMovies.isLoading()) {
      loading...
    } @else {
      <app-horizontal-scroll-list
        [items]="upcoming"
        image="poster_path"
        header="title"
        route="/movie"
      ></app-horizontal-scroll-list>
    }
  </div>
</div>
