@let trendingMovies = trendingWeekMoviesResource.value();
@let nowPlayingMovies = nowPlayingMoviesResource.value();
@let upcomingMovies = upcomingMoviesResource.value();

@if (trendingWeekMoviesResource.isLoading()) {
  loading...
} @else {
  <app-banner [movies]="trendingMovies"></app-banner>
}

<div class="content">
  <div class="content__area">
    <h2>In theaters</h2>
    @if (nowPlayingMoviesResource.isLoading()) {
      loading...
    } @else {
      <app-horizontal-scroll-list
        [items]="nowPlayingMovies"
        image="poster_path"
        header="title"
        route="/movie"
      ></app-horizontal-scroll-list>
    }
  </div>

  <div class="content__area">
    <h2>Coming soon</h2>
    @if (upcomingMoviesResource.isLoading()) {
      loading...
    } @else {
      <app-horizontal-scroll-list
        [items]="upcomingMovies"
        image="poster_path"
        header="title"
        route="/movie"
      ></app-horizontal-scroll-list>
    }
  </div>
</div>
