<p-carousel [value]="movies()" [numVisible]="1" [numScroll]="1" showNavigators="false" autoplayInterval="10000">
  <ng-template let-movie #item>
    <div
      class="banner"
      [style.backgroundImage]="
        'url(' + 'https://media.themoviedb.org/t/p/w1920_and_h800_multi_faces/' + movie.backdrop_path + ')'
      "
    >
      <div class="banner__overlay">
        <a class="info" [routerLink]="['/movie', movie.id]">
          <div class="rating-release">
            <div class="rating">
              <fa-icon [icon]="faStar"></fa-icon>
              <span>{{ movie.vote_average | number: '1.1-1' }}</span>
            </div>
            <div class="release">{{ movie.release_date | date: 'yyyy' }}</div>
          </div>
          <div class="genres">
            @for (genre of movie.genre_ids; track genre) {
              <div class="genres__item">{{ GenreTranslationMap[genre] | translate }}</div>
            }
          </div>
          <div class="title">{{ movie.title }}</div>
          <div class="description">{{ movie.overview }}</div>
        </a>
      </div>
    </div>
  </ng-template>
</p-carousel>
