<div
  class="movie-banner"
  [style.backgroundImage]="
    'url(' + 'https://media.themoviedb.org/t/p/w1920_and_h800_multi_faces/' + movies()[currentIndex].backdrop_path + ')'
  "
>
  <div class="movie-backdrop">
    <a class="movie-info" [routerLink]="['/movie', movies()[currentIndex].id]">
      <div class="rating-release">
        <div class="rating">
          <fa-icon [icon]="faStar"></fa-icon>
          <span>{{ movies()[currentIndex].vote_average | number: '1.1-1' }}</span>
        </div>
        <div class="release">{{ movies()[currentIndex].release_date | date: 'yyyy' }}</div>
      </div>
      <div class="genres">
        @for (genre of movies()[currentIndex].genre_ids; track genre) {
          <div class="genres__item">{{ GenreTranslationMap[genre] | translate }}</div>
        }
      </div>
      <div class="title">{{ movies()[currentIndex].title }}</div>
      <div class="description">{{ movies()[currentIndex].overview }}</div>
    </a>

    <p-button [rounded]="true" class="arrow left" variant="text" (click)="prev()">
      <fa-icon [icon]="faChevronLeft"></fa-icon>
    </p-button>
    <p-button [rounded]="true" class="arrow right" variant="text" (click)="next()">
      <fa-icon [icon]="faChevronRight"></fa-icon
    ></p-button>
  </div>
</div>
