@if (ids().imdb_id) {
  <a [href]="`https://www.imdb.com/title/${ids().imdb_id}`" target="_blank" rel="noopener noreferrer" class="imdb">
    <fa-icon [icon]="faImdb"></fa-icon>
  </a>
}

@if (ids().instagram_id) {
  <a
    [href]="`https://www.instagram.com/${ids().instagram_id}`"
    target="_blank"
    rel="noopener noreferrer"
    class="instagram"
  >
    <fa-icon [icon]="faInstagram"></fa-icon>
  </a>
}

@if (ids().twitter_id) {
  <a [href]="`https://www.x.com/${ids().twitter_id}`" target="_blank" rel="noopener noreferrer" class="twitter">
    <fa-icon [icon]="faXTwitter"></fa-icon>
  </a>
}
