@let show = tvShowDetailsResource.value();
@let cast = castResource.value();
@let recommendations = recommendationsResource.value();
@let externalIds = externalIdsResource.value();

@if (tvShowDetailsResource.isLoading() || !show) {
  loading...
} @else {
  <h1>{{ show.name }}</h1>
  <img [src]="`https://image.tmdb.org/t/p/w300${show.poster_path}`" />

  <h2>Genres</h2>
  @for (genre of show.genres; track genre) {
    {{ GenreTranslationMap[genre.id] }}
  }
}

<h2>Cast</h2>
@if (castResource.isLoading() || !cast) {
  loading...
} @else {
  <app-horizontal-scroll-list [items]="cast" image="poster_path" header="name" route="/tv"></app-horizontal-scroll-list>
}

<h2>Recommendations</h2>
@if (recommendationsResource.isLoading() || !recommendations) {
  loading...
} @else {
  <app-horizontal-scroll-list
    [items]="recommendations"
    image="poster_path"
    header="name"
    route="/tv"
  ></app-horizontal-scroll-list>
}

<h2>External ids</h2>
@if (externalIdsResource.isLoading() || !externalIds) {
  loading...
} @else {
  <a [href]="`https://www.imdb.com/title/${externalIds.imdb_id}`" target="_blank" rel="noopener noreferrer">IMDB</a>
}
