@let actor = actorDetailsResource.value();
@let movieCredits = movieCreditsResource.value();
@let tvCredits = tvCreditsResource.value();
@let externalIds = personExternalIds.value();

<div class="hero">
  <div class="hero__container">
    @if (!actorDetailsResource.isLoading() && actor) {
      <img [src]="actor.profile_path" [alt]="actor.name" class="hero__portrait" />
    } @else {
      <p-skeleton width="300px" height="450px" />
    }

    <div class="hero__details">
      @if (!actorDetailsResource.isLoading() && actor) {
        <h1 class="hero__name">{{ actor.name }}</h1>

        @if (actor.known_for_department) {
          <div class="hero__profession">
            {{ actor.known_for_department }}
          </div>
        }

        @if (actor.biography) {
          <div class="hero__bio">
            {{ actor.biography }}
          </div>
        }
      } @else {
        <p-skeleton height="50px" width="350px" class="hero__name" />
        <p-skeleton height="22px" width="160px" class="hero__profession" />
        <div class="hero__bio">
          <p-skeleton height="25px" width="80%" />
          <p-skeleton height="25px" width="100%" />
          <p-skeleton height="25px" width="70%" />
          <p-skeleton height="25px" width="50%" />
          <p-skeleton height="25px" width="90%" />
          <p-skeleton height="25px" width="50%" />
        </div>
      }
    </div>
  </div>
</div>

<div class="content">
  <section class="content__section section">
    <h2 class="section__title">{{ 'knownFor' | translate }}</h2>
    <div class="known-for-container">
      <app-horizontal-scroll-list
        [items]="getMostFamousWorks(movieCredits, tvCredits, 10)"
        [loading]="movieCreditsResource.isLoading() || tvCreditsResource.isLoading()"
        image="poster_path"
        header="title"
      ></app-horizontal-scroll-list>
    </div>
  </section>

  <section class="content__section section">
    <h2 class="section__title">{{ 'details' | translate }}</h2>

    <div class="personal-details">
      @if (actor) {
        <div class="detail-item">
          <span class="detail-label">{{ 'dateOfBirth' | translate }}</span>
          <span class="detail-value">
            {{ actor.birthday | date: 'dd.MM.yyyy' }}
            ({{ calculateAge(actor.birthday, actor.deathday) }})
          </span>
        </div>

        @if (actor.deathday) {
          <div class="detail-item">
            <span class="detail-label">{{ 'dateOfDeath' | translate }}</span>
            <span class="detail-value">{{ actor.deathday | date: 'dd.MM.yyyy' }}</span>
          </div>
        }

        @if (actor.place_of_birth) {
          <div class="detail-item">
            <span class="detail-label">{{ 'placeOfBirth' | translate }}</span>
            <span class="detail-value">{{ actor.place_of_birth }}</span>
          </div>
        }
      }
    </div>
  </section>

  @if (movieCredits && tvCredits) {
    <section class="content__section section">
      <h2 class="section__title">{{ 'filmography' | translate }}</h2>
      <div class="filmography-table">
        <p-table [value]="getCombinedCredits(movieCredits, tvCredits)" class="credits-table">
          <ng-template pTemplate="body" let-credit let-i="rowIndex">
            @let combinedCredits = getCombinedCredits(movieCredits, tvCredits);
            @let currentYear = (credit.date | date: 'yyyy') || '-';
            @let previousYear = i > 0 ? (combinedCredits[i - 1].date | date: 'yyyy') || '-' : null;
            @let isYearStart = i === 0 || currentYear !== previousYear;

            <tr
              [class.filmography-year-start]="isYearStart"
              [class.filmography-same-year]="!isYearStart"
              class="filmography-row"
            >
              <td class="filmography-year">{{ currentYear }}</td>
              <td class="filmography-type">
                @if (credit.type === 'movie') {
                  <fa-icon [icon]="faClapperboard" class="media-icon"></fa-icon>
                } @else {
                  <fa-icon [icon]="faTv" class="media-icon"></fa-icon>
                }
              </td>
              <td class="filmography-title">
                <div class="title-container">
                  <a [routerLink]="[credit.type === 'movie' ? '/movie' : '/tv', credit.id]" class="title-link">
                    {{ credit.title }}
                  </a>
                  @if (credit.character) {
                    <div class="character-info">
                      <span class="character-as">as</span>
                      <span class="character-name">{{ credit.character }}</span>
                    </div>
                  }
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </section>
  }

  <section class="content__section section">
    <h2 class="section__title">{{ 'externalLinks' | translate }}</h2>
    @if (externalIds) {
      <div class="external-links-container">
        <app-external-links [ids]="externalIds"></app-external-links>
      </div>
    }
  </section>
</div>
